.App {
  text-align: center;
  background: radial-gradient(circle, rgba(38,37,51,1) 11%, rgba(28,28,45,1) 100%);
  height: 100vh;
  width: 100vw;

  display: grid;
  place-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main {
  position: relative;
  background-color: #2b2847;
  padding: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  height: 45vh;
  width:30vw;

  background: linear-gradient(30deg, rgba(233, 234, 237, 0.088) 0%, rgba(245, 247, 255, 0.137) 100%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(18, 13, 27, 0.562);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(255, 255, 255, 0.152);
}

.App-header{
  /* position: absolute; */
  text-align: center;
  top: 32px;
  right: 46px;
}

.App-header h2{
  color: #ffffff8e;
  font-weight: 400;
}

/* .App-cont{
  margin-top: 24px;
} */

.App-keywrap{
  color: #ffffff8e;
  padding: 24px 0;
}

.App-keylabel{
  font-weight: 200;
  font-size: 14px;
  text-align: left;
  color: #ffffff46;
  padding-bottom: 4px;
}

.App-keysect{
  display: flex;
  width: 100%;
  border: 1px solid #ffffff2e;
  border-radius: 8px;
  padding: 8px 16px;
}

#pubkey{
  resize: none;
  color: #ffffff8e;
  font-size: 18px;
  width: 100%;
  margin-right: 16px;
  height: 36px;
  /* padding-top: 4px; */
  /* padding-bottom: 2px; */
  overflow-x: scroll;
  background:none;
  border: none;

  cursor: default;
}

#pubkey:focus{
  border: none;
  outline: none;
}

#pubkey::selection{
  background: none;
}

.App-copy{
  padding: 0;
  font-size: 24px;
  margin-top: 2px;
  background: none;
  border: none;
  color: #ffffff5d;
  cursor: pointer;

  transition: 0.3s;
}

.App-copy:hover{
  color: #ffffff8e;
  text-shadow: 0px 0px 16px #ffffff46;
}

.App-copytoolkit{
  position: absolute;
}

.App-btn{
  height: 56px;
  font-size: 18px;
  padding: 4px 24px;
  border-radius: 8px;
  outline: 1px solid #ffffff5d;
  border: none;
  color: #ffffff8e;
  background: none;
  cursor: pointer;

  transition: 0.3s ease-out;
}

.App-btn:hover{
  /* outline: 1px solid #ffffffbe; */
  color: #ffffffbe;
  text-shadow: 0px 0px 8px #ffffff46;
  box-shadow: 0px 0px 8px 0px #ffffff16 ,inset 0px 0px 8px 0px #ffffff16;
}

.App-link {
  color: #61dafb;
}

::-webkit-scrollbar {
  width: 10px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #ffffff16;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff2e;
  transform: scale(1.5)
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
